# Visual Studio файлы проекта (можно исключить, если хотите собирать "с нуля")
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user


# Папки сборки и промежуточные файлы
Debug/
Release/
x64/
x86/
bin/
obj/
ipch/
*.aps
*.ncb
*.opt
*.plg
*.suo
*.user
*.userosscache
*.sln.docstates

.vs/

*.dll
*.exe
*.pdb
*.ilk
*.exp
*.lib
*.obj
*.res
*.idb
*.iobj
*.ipdb

*.log
*.tmp
*.temp
*.sdf
*.opendb
*.VC.db
*.VC.vcxproj.db

profile_*.txt
opt_time.txt
unopt_time.txt
profile_unoptimized.txt
profile_optimized_step1.txt
profile_fully_instanced.txt
profile_metrics.txt
profile_spatial_grid.txt
profile_instanced.txt
profile_fully_instanced_machin_depend1.txt
profile_fully_instanced_draw_call.txt
profile_breakking.txt
profile_optimized_with_grid.txt

scores.txt
Thumbs.db
Desktop.ini
.DS_Store

# Резервные копии
*.bak
*.backup
*~

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

*.orig
*.rej